@model Jogo
@{
    Layout = "";
    var midias = (List<JogoDaMemoriaMidia>)ViewBag.Midias;
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3132/3132772.svg" type="image/x-icon" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="/js/JogoDaMemoria.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/JogoDaMemoria/main.css" />
        <link rel="stylesheet" href="~/css/JogoDaMemoria/card.css" />
        <link rel="stylesheet" href="~/css/JogoDaMemoria/win.css" /><!--Estilo da tela de vitória-->
        <link rel="stylesheet" href="~/css/JogoDaMemoria/responsive.css" />
    </head>
<body>
    <h1>@Model.Nome</h1>
    <!--ALTERAÇÃO* Essa div vai ser exibida quando o jogador vencer a partida!-->
    <div id="vitoria">
        <div id="container">
            <h1>Parabéns!</h1>
            <p>Você encontrou todos os pares com</p>
            <h2><span id="movimentosvitoria">0</span> ERROS</h2>
            <a href="/Jogo">Jogar denovo</a>
        </div>
    </div>
    <!--FIM-ALTERAÇÃO*-->
    <!--<section id="responsivo">
        <h2>Erros <span id="movimentos2">0</span></h2>-->
    <!-- <button id="btn-mudartema">Mudar tema</button>
        <button id="btn-reiniciar">Reiniciar</button> -->
    <!--<a href="/Jogo">Reiniciar</a>
    </section>-->

    <div class="corpo">
        <!--<section id="esq">
            <h2>Erros <span id="movimentos">0</span></h2>-->
        <!-- <button id="btn-mudartema">Mudar tema</button>
            <button id="btn-reiniciar">Reiniciar</button> -->
        <!--<a href="/Jogo">Reiniciar</a>
        </section>-->
        <section class="jogo">
            @foreach (var carta in midias)
            {
                <div class="card" data-nome="@midias.IndexOf(carta)">
                    <img class="frente" src="@(Url.Action("GetMidia", "Midia"))?id=@(carta.MidiaPrimariaId)" alt="card" />
                    <img class="verso" src="/images/interrogacao.png" alt="card" />
                </div>

                <div class="card" data-nome="@midias.IndexOf(carta)">
                    <img class="frente" src="@(Url.Action("GetMidia", "Midia"))?id=@(carta.MidiaSecundariaId)" alt="card" />
                    <img class="verso" src="/images/interrogacao.png" alt="card" />
                </div>
            }
        </section>

        <section id="dir"></section>
    </div>
</body>
</html>