@model Jogo
@{
    Layout = "";
    var midias = (List<JogoDaMemoriaMidia>)ViewBag.Midias;
    var jogador = Context.Request.Cookies["NomeJogador"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3132/3132772.svg" type="image/x-icon" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/JogoDaMemoria.js"></script>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/JogoDaMemoria/main.css" />
    <link rel="stylesheet" href="~/css/JogoDaMemoria/card.css" />
    <link rel="stylesheet" href="~/css/JogoDaMemoria/win.css" /><!--Estilo da tela de vitória-->
    <link rel="stylesheet" href="~/css/JogoDaMemoria/responsive.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>

        @foreach(var carta in midias)
        {
            if (!string.IsNullOrEmpty(carta.Cor))
            {
                @(Html.Raw($@".card.flip[data-nome='{midias.IndexOf(carta)}'], .card.flip[data-nome='{midias.IndexOf(carta)}'] img {{
                                background-color: {carta.Cor} !important;
                            }}"))
            }
        }

        .iconeCerto {
            position: absolute;
            top: calc(50vh - 5rem);
            left: calc(50vw - 5rem);
            color: green;
            background-color: white;
            border-radius: 50%;
            font-size: 10rem;
            z-index: 1000;
        }

        .iconeErrado {
            position: absolute;
            top: calc(50vh - 5rem);
            left: calc(50vw - 5rem);
            color: red;
            background-color: white;
            border-radius: 50%;
            font-size: 10rem;
            z-index: 1000;
        }

        .d-none {
            display: none !important;
        }

    </style>
</head>

<body style="width: 100vw; height: 100vh; padding: 2rem; font-family: 'Zeyada', cursive !important;">
    <h1 style="color: #fff; text-align:center">@Model.Nome</h1>
    <i class="rzi iconeCerto d-none">check_circle</i>
    <i class="rzi iconeErrado d-none">cancel</i>

    <component type="typeof(SiteJogos.Console.Components.JogoDaMemoria.JogoDaMemoriaPlay)" render-mode="Server" param-jogo="Model" param-midias="midias" />

    <div style="color: #fff"><span id="minute">00</span>:<span id="second">00</span> | Movimentos: <span id="erros">0</span></div>

    <script>
        function insereScore() {
            let score = {
                JogoId: "@(Model.Id)",
                Jogador: "@(jogador)",
                Pontuacao: movements,
                Tempo: getTempo()
            }
            $.ajax({
                method: "POST",
                url: "@(Url.Action("Post", "JogoRanking"))",
                data: { values: JSON.stringify(score) },
                dataType: 'json',
                async: true,
                success: function (data) {
                },
                error: function (e) {
                }
            });
        }
    </script>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js" asp-append-version="true"></script>
</body>
</html>