@using System.Linq.Dynamic.Core;
@inject IJSRuntime JS;
@inject DialogService DialogService;

<style>

    .menuLista {
        display: flex;
        justify-content: start;
        width: 100%;
        background-color: transparent !important;
    }

        .menuLista .rz-navigation-item-icon-children {
            display: none;
        }

        .menuLista .rz-navigation-item-icon {
            color: var(--rz-text-color) !important;
        }

    .card-home {
        max-width: 100%;
        flex-basis: 100%;
    }

        .card-home:hover {
            cursor: pointer !important;
        }

    @@media(min-width: 1024px) {
        .card-home {
            max-width: calc(4 * ((100% - 15 * var(--rz-gap)) / 12) + 3 * var(--rz-gap)) !important;
            flex-basis: calc(4 * ((100% - 15 * var(--rz-gap)) / 12) + 3 * var(--rz-gap)) !important;
        }
    }

    @@media(min-width: 768px) and (max-width: 1023px) {
        .card-home {
            max-width: calc(6 * ((100% - 12 * var(--rz-gap)) / 12) + 5 * var(--rz-gap)) !important;
            flex-basis: calc(6 * ((100% - 12 * var(--rz-gap)) / 12) + 5 * var(--rz-gap)) !important;
        }
    }

    @@media(max-width: 767px) {
        .card-home {
            width: 100%;
        }
    }
</style>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
    <RadzenLabel><h4>Meus Jogos</h4></RadzenLabel>
    <RadzenButton Text="+ Novo Jogo" ButtonStyle="ButtonStyle.Secondary" Click="RedirecionaNovoJogo" />
</RadzenStack>

<RadzenTabs TabPosition="@TabPosition.TopRight" RenderMode="TabRenderMode.Server" Style="margin-top: 1rem" Change="AtualizaDados">
    <Tabs>
        <RadzenTabsItem Text="Lista" Icon="list">
            <RadzenDataList @ref="list" LoadData="@LoadData" AllowVirtualization=false WrapItems="true" AllowPaging="@true" Data="@Jogos" TItem="Jogo" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" IsLoading=@isLoading Style="height: calc(100vh - 20rem);width: 100%">
                <Template Context="jogo">
                    <RadzenCard Class="rz-border-radius-3 text-center card-home">
                        <RadzenMenu class="menuLista" ClickToOpen="true" Responsive="false">
                            <RadzenMenuItem Text="" Icon="more_vert">
                                <RadzenMenuItem Text="Jogar" Icon="play_arrow" Click="(args) => Jogar(jogo)"></RadzenMenuItem>
                                <RadzenMenuItem Text="Ranking" Icon="emoji_events" Click="(args) => CopiarLink(jogo)"></RadzenMenuItem>
                                <RadzenMenuItem Text="Editar" Icon="edit" Click="(args) => Editar(jogo)"></RadzenMenuItem>
                                <RadzenMenuItem Text="Copiar Link" Icon="content_copy" Click="(args) => CopiarLink(jogo)"></RadzenMenuItem>
                                <RadzenMenuItem Text="QR Code" Icon="qr_code" Click="(args) => QRCode(jogo)"></RadzenMenuItem>
                                <RadzenMenuItem Text="Excluir" Icon="delete" Click="(args) => Delete(jogo)"></RadzenMenuItem>
                            </RadzenMenuItem>
                        </RadzenMenu>
                        <RadzenIcon Icon="@(jogo.IconeJogo)" Style="font-size: 2.5rem; color: var(--rz-text-color); padding-bottom: 1rem" />
                        <RadzenText TextStyle="TextStyle.Subtitle1">@jogo.Nome</RadzenText>
                    </RadzenCard>
                </Template>
            </RadzenDataList>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Grade" Icon="grid_view">
            <RadzenDataGrid @ref="grid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="true" EmptyText="Nenhum Jogo Encontrado!" IsLoading=@isLoading LoadData="@LoadData" Count="@count" Data="@Jogos" TItem="Jogo" Responsive="true" LogicalFilterOperator="LogicalFilterOperator.And" Style="height: calc(100vh - 20rem)">
                <Columns>
                    <RadzenDataGridColumn TItem="Jogo" Context="Id" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" Resizable="false" Width="265px">
                        <Template Context="Id">
                            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="play_arrow" Variant="Variant.Flat" Size="ButtonSize.Medium" title="Jogar" Click="(args => Jogar(Id))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="emoji_events" Variant="Variant.Flat" Size="ButtonSize.Medium" title="Ranking" Click="(args => CopiarLink(Id))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit" Variant="Variant.Flat" Size="ButtonSize.Medium" title="Editar" Click="(args) => Editar(Id)" />
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="content_copy" Variant="Variant.Flat" Size="ButtonSize.Medium" title="Copiar Link" Click="(args => CopiarLink(Id))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="qr_code" Variant="Variant.Flat" Size="ButtonSize.Medium" title="QR Code" Click="(args => QRCode(Id))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Click="(args => Delete(Id))" class="my-1 ms-1" title="Excluir" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Jogo" Property="Nome" Title="Nome" Filterable="true" Sortable="true" FilterOperator="FilterOperator.StartsWith">
                        <FooterTemplate>
                            <b>@Jogos.Count()</b> Registros
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Jogo" Property="TemplateDescricao" Title="Tipo" FilterOperator="FilterOperator.StartsWith" />
                    <RadzenDataGridColumn TItem="Jogo" Property="Inclusao" Title="Dt. Inclusão" SortOrder="SortOrder.Descending" />
                    <RadzenDataGridColumn TItem="Jogo" Property="Alteracao" Title="Dt. Alteração" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {

    IEnumerable<Jogo> Jogos = new List<Jogo>();
    RadzenDataGrid<Jogo> grid;
    RadzenDataList<Jogo> list;
    int count;
    bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Jogos = await JS.InvokeAsync<IEnumerable<Jogo>>("getDados", "/Jogo/Get");
    }

    async Task AtualizaDados()
    {
        Jogos = await JS.InvokeAsync<IEnumerable<Jogo>>("getDados", "/Jogo/Get");
    }

    async Task LoadData(LoadDataArgs? args)
    {
        isLoading = true;

        var query = await JS.InvokeAsync<IEnumerable<Jogo>>("getDados", "/Jogo/Get");

        if (!string.IsNullOrEmpty(args?.Filter))
        {
            query = query.AsQueryable().Where(args.Filter).AsEnumerable();
        }

        if (args?.Sorts.Any() == true)
        {
            foreach (var s in args.Sorts)
            {
                var propertyInfo = typeof(Jogo).GetProperty(s.Property);
                query = s.SortOrder == SortOrder.Ascending ? query.OrderBy(o => propertyInfo.GetValue(o, null)) : query.OrderByDescending(o => propertyInfo.GetValue(o, null));
            }
        }

        Jogos = query.ToList();

        isLoading = false;
    }

    async Task Delete(Jogo jogo)
    {
        var popupConfirma = await DialogService.Confirm($"Deseja mesmo excluir este jogo?", "Excluir Jogo", new ConfirmOptions() { OkButtonText = "Sim", CancelButtonText = "Não" });
        if (popupConfirma == true)
        {
            var retorno = await JS.InvokeAsync<RetornoViewModel>("getDados", "/Jogo/Delete", new { key = jogo.Id }, "DELETE");
            await JS.InvokeVoidAsync("notifica", retorno.Sucesso ? "" : "Erro", retorno.Mensagem, retorno.Sucesso);
            grid.ResetLoadData();
            await list.Reload();
        }
    }

    void RedirecionaNovoJogo()
    {
        JS.InvokeVoidAsync("redirecionaTela", "/NovoJogo");
    }

    void Editar(Jogo jogo)
    {
        JS.InvokeVoidAsync("editar", jogo.Id);
    }

    void CopiarLink(Jogo jogo)
    {
        JS.InvokeVoidAsync("copiarLink", jogo.Id);
    }

    void QRCode(Jogo jogo)
    {
        JS.InvokeVoidAsync("qrCode", jogo.Id);
    }

    void Jogar(Jogo jogo)
    {
        JS.InvokeVoidAsync("jogar", jogo.Id);
    }

}
