@inject Microsoft.AspNetCore.Identity.UserManager<Usuario> userManager;

@{
    var usuario = userManager?.GetUserAsync(User)?.Result;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Historiando, Onde você cria história com seus jogos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteJogos.Console.styles.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3132/3132772.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/notifications.css">
    <script src="~/dist/notifications.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>
        body {
            padding: 0 !important;
        }

        h4 {
        }

        h1 {
            font-weight: bold
        }

        .alinha-centro {
            display: grid;
            margin: 0 auto;
            justify-content: center;
            align-content: center;
            align-items: center;
        }

        .components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected, .components-reconnect-modal {
            display: none;
        }
    </style>

</head>

<body>

    <component type="typeof(SiteJogos.Console.Components.Shared.Layout)" render-mode="Server" param-usuario="usuario" />
    <div class="container d-none">
        @RenderBody()
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js" asp-append-version="true"></script>
    <script>

        function insereBody() {
            $(".container").appendTo("#corpo-principal");
            $(".container").removeClass("d-none");
        }

        function temaClaro() {
            $("#temaBlazor").attr("href", "_content/Radzen.Blazor/css/software-base.css");
            getDados("@(Url.Action("TemaClaro", "Usuario"))", {}, "POST");
        }

        function temaEscuro() {
            $("#temaBlazor").attr("href", "_content/Radzen.Blazor/css/dark-base.css");
            getDados("@(Url.Action("TemaEscuro", "Usuario"))", {}, "POST");
        }

        function trocaSenha(model) {
            var retorno = null
            $.ajax({
                method: 'POST',
                url: "@(Url.Action("TrocaSenha", "Autenticacao"))",
                data: model,
                dataType: 'json',
                async: false,
                success: function (data) {
                    retorno = data;
                },
                error: function (e) {
                    return {
                        Sucesso: false,
                        Mensagem: e.errorText
                    };
                }
            });
            return retorno;
        }

    </script>
</body>
</html>